header
  display flex
  align-items center
  justify-content space-between

  height 60px
  padding 0 20px

  background-color $blue

  color white

  & > div
    display flex
    align-items center
    .btn:last-of-type
      margin-left 15px
