// global rules
*
  box-sizing border-box

a
  color inherit
  text-decoration none

// buttons
.btn
  display block
  width 80px
  height 35px
  padding 0 5px

  text-align center
  line-height 35px

  color white
  background-color $blue
  border-radius 5px
  cursor pointer

  &-ok
    background-color $green

  &-no
    background-color $red

  &-bordered
    background-color transparent
    border 2px solid white
