[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djongo = "*"
gunicorn = "*"
whitenoise = "*"
django-spa = "*"

[dev-packages]

[requires]
python_version = "3.6"

[scripts]
"start:dev" = "python ./project/manage.py runserver"
