.pomodoro-list
  width 100%
  max-width 600px

  border 2px solid $blue
  border-radius 10px
  padding-bottom 5px

  margin-top 30px

  &-heading
    width 100%
    height 60px
    display flex
    align-items center
    justify-content space-between
    padding 0 10px
    background $blue
    color white
    margin-bottom 5px

  &-body
    max-height 200px
    overflow-y auto
    width calc(100% - 2px)

    &::-webkit-scrollbar
      background transparent
      width 10px

    &::-webkit-scrollbar-thumb
      background $blue
      border-radius 10px

  ul
    padding-left 10px
    margin 0 0 20px 0
    list-style none

  &-date
    text-transform uppercase
    color $blue
    font-weight bold

  &-item
    padding-left 10px
    display flex
    align-items center
    justify-content flex-start

    .duration
      width 200px

    .started-at
      width 150px

    .failed
      color $red
    .finished
      color $green
    .in-progress
      color $blue
